<div id="login-form">
  <div id="title">
    <h1>Stub - Login</h1>
  </div>

  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.password_field :password, placeholder: 'Password'%>
    <%= f.submit "Login"%>
  <% end %>
</div>
