development:
  rabbit_mq:
    host: localhost
    port: 5672
    user: guest
    pass: guest
    vhost:

test:
  rabbit_mq:
    host:
    port:
    user:
    pass:
    vhost:

production:
  rabbit_mq:
    host:
    port:
    user:
    pass:
    vhost:
